@model CarRental
@{
    ViewData["Title"] = "Delete Car Rental";
}

<style>
    .container {
        padding: 20px;
        border-radius: 10px;
        width: 60%;
        margin: auto;
    }
</style>

<h1 class="text-center">Delete Car Rental</h1>

<h3 class="text-center">Are you sure you want to delete this car rental?</h3>

<div class="container">
    <h4>Car Rental Information</h4>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-6">Car Model:</dt>
            <dd class="col-sm-4">@Model.CarModel</dd>

            <dt class="col-sm-6">Rental Company:</dt>
            <dd class="col-sm-4">@Model.RentalCompany</dd>

            <dt class="col-sm-6">Price:</dt>
            <dd class="col-sm-4">$@Model.Price</dd>

            <dt class="col-sm-6">Availability Start Date:</dt>
            <dd class="col-sm-4">@Model.AvailabilityStartDate.ToShortDateString()</dd>

            <dt class="col-sm-6">Availability End Date:</dt>
            <dd class="col-sm-4">@Model.AvailabilityEndDate.ToShortDateString()</dd>
        </dl>
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="CarRentalId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Details" asp-route-id="@Model.CarRentalId" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
