@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model CarRental
@{
    ViewData["Title"] = "Car Rental Details";

    var currentUser = await UserManager.GetUserAsync(User);
    bool isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}

<style>
    .car-details {
        min-height: 300px;
        overflow-y: auto;
    }

    .car-image {
        width: 420px;
        height: 300px;
        object-fit: cover;
        display: block;
        margin-bottom: 20px;
    }
</style>

<h2>Car Rental Details</h2>

<div class="row">
    <div class="col-md-4">
        <img src="https://images.inc.com/uploaded_files/image/1920x1080/getty_649362670_395940.jpg" class="car-image" alt="Car Rental Image">
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body car-details">
                <h3 class="card-title">Car Model: @Model.CarModel</h3>
                <p class="card-text"><strong>Rental Company:</strong> @Model.RentalCompany</p>
                <p class="card-text"><strong>Car Type:</strong> @Model.CarType</p>
                <p class="card-text"><strong>Price:</strong> $@Model.Price</p>
                <p class="card-text"><strong>Availability Start Date:</strong> @Model.AvailabilityStartDate</p>
                <p class="card-text"><strong>Availability End Date:</strong> @Model.AvailabilityEndDate</p>

                @if (isAdmin)
                {
                    <div class="btn-group" role="group" aria-label="Car Rental Actions">
                        <a asp-action="Edit" asp-route-id="@Model.CarRentalId" class="btn btn-light">Edit</a>
                        <a asp-action="Delete" asp-route-id="@Model.CarRentalId" class="btn btn-outline-danger" style="margin-left:20px;">Delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Booking", FormMethod.Post))
{
    @Html.HiddenFor(model => model.CarRentalId)
    <div class="text-center mt-2">
        <input type="submit" value="Book" class="btn btn-success rounded-pill" style="width: 20%;" />
    </div>
    <div class="text-center mt-2">
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
}
