@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model List<Hotel>
@{
    ViewData["Title"] = "Hotel List";
    var currentUser = await UserManager.GetUserAsync(User);
    bool isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
    var userHotelPreferences = currentUser.HotelPreferences;
}

<style>
    .title-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .title {
        margin-top: 20px;
    }

    .create-hotel-btn {
        margin-top: 20px;
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 14px;
    }
</style>

@if (isAdmin)
{
    <div class="title-bar">
        <h2 class="title">Hotel List</h2>
        <a class="btn btn-outline-secondary create-hotel-btn " asp-action="Create">Add Hotel</a>
    </div>
}
else
{
    <div class="title-bar">
        <h2 class="title">Hotel List</h2>
    </div>
}

<form asp-controller="Hotel" asp-action="Index" method="get">
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Search by Name">
            <input type="text" class="form-control" id="location" name="location" placeholder="Search by Location">
            <select class="form-control" id="sortOrder" name="sortOrder">
                <option value="">Order By Price</option>
                <option value="price_asc">Low to High</option>
                <option value="price_desc">High to Low</option>
            </select>
            <button type="submit" class="btn btn-primary" style="width: 100px;">Apply</button>
        </div>
    </div>
</form>

@if (!Model.Any())
{
    <p>No Hotels Available</p>
}
else
{
    // Filtering hotels based on user's hotel preferences
    var matchingHotels = Model.Where(hotel => hotel.Amenities.Contains(userHotelPreferences)).ToList();

    <div class="row mt-4">
        @if (matchingHotels.Any())
        {
            <div class="col-12">
                <h3>Best Matches</h3>
                <hr />
            </div>
            @foreach (var hotel in matchingHotels)
            {
                <!-- Display best matches here -->
                <div class="col-sm-4 mb-4" margin-top="40px">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="@hotel.PictureUrl" alt="Card image cap" style="width: 100%; height: 200px; object-fit: cover;object-position: center center;">
                        <div class="card-body">
                            <h5 class="card-title">@hotel.Name</h5>
                            <p class="card-text"><i class="fa-solid fa-check"></i> @hotel.Amenities</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-city"></i> Location: @hotel.Location</li>
                            <li class="list-group-item"><i class="fa-solid fa-wallet"></i> Price per night: $@hotel.Price</li>
                        </ul>
                        <div class="card-body text-center">
                            <a asp-action="Details" asp-route-id="@hotel.HotelId" class="btn btn-success rounded-pill" style="width:30%;">Details</a>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="col-12 mt-4">
            <h3>All Listings</h3>
            <hr />
        </div>

        @foreach (var hotel in Model)
        {
            <!-- Display all hotels here -->
            <div class="col-sm-4 mb-4" margin-top="40px">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="@hotel.PictureUrl" alt="Card image cap" style="width: 100%; height: 200px; object-fit: cover;object-position: center center;">
                    <div class="card-body">
                        <h5 class="card-title">@hotel.Name</h5>
                        <p class="card-text"><i class="fa-solid fa-check"></i> @hotel.Amenities</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa-solid fa-city"></i> Location: @hotel.Location</li>
                        <li class="list-group-item"><i class="fa-solid fa-wallet"></i> Price per night: $@hotel.Price</li>
                    </ul>
                    <div class="card-body text-center">
                        <a asp-action="Details" asp-route-id="@hotel.HotelId" class="btn btn-success rounded-pill" style="width:30%;">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}