@model Assignment1.Models.Flight
@{
    ViewData["Title"] = "Flight Details";
}

<h2>Flight Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Airline</dt>
        <dd class="col-sm-10">@Model.Airline</dd>

        <dt class="col-sm-2">Departure Location</dt>
        <dd class="col-sm-10">@Model.DepartureLocation</dd>

        <dt class="col-sm-2">Arrival Location</dt>
        <dd class="col-sm-10">@Model.ArrivalLocation</dd>

        <dt class="col-sm-2">Departure Time</dt>
        <dd class="col-sm-10">@Model.DepartureTime.ToString("yyyy-MM-dd HH:mm")</dd>

        <dt class="col-sm-2">Arrival Time</dt>
        <dd class="col-sm-10">@Model.ArrivalTime.ToString("yyyy-MM-dd HH:mm")</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>
    </dl>
    <a asp-action="Index">Back to List</a>
</div>
@using (Html.BeginForm("Index", "Booking", FormMethod.Post))
{
    @Html.HiddenFor(model => model.FlightId)
    <input type="submit" value="Book" />
}
