@model Hotel
@{
    ViewData["Title"] = "Hotel Details";
}

<style>
    .hotel-image {
        width: 420px; /* Set the desired width */
        height: 300px; /* Set the desired height */
        object-fit: cover; /* Ensure the image covers the specified dimensions */
        display: block; /* Ensure the image is treated as a block element */
        margin-bottom: 20px; /* Add some space below the image */
    }

    .hotel-details {
        min-height: 300px; /* Set the desired height */
        overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
    }
</style>

<h1>Hotel Details</h1>

<div class="row">
    <div class="col-md-4">
        <img src="@Model.PictureUrl" class="hotel-image" alt="Hotel Image">
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body hotel-details">
                <h3 class="card-title">@Model.Name</h3>
                <p class="card-text"><strong>Location:</strong> @Model.Location</p>
                <p class="card-text"><strong>Price per night:</strong> $@Model.Price</p>
                <p class="card-text"><strong>Amenities:</strong> @Model.Amenities</p>

                <div class="btn-group" role="group" aria-label="Hotel Actions">
                    <a asp-action="Edit" asp-route-id="@Model.HotelId" class="btn btn-light">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.HotelId" class="btn btn-outline-danger" style="margin-left:20px;">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Booking", FormMethod.Post))
{
    @Html.HiddenFor(model => model.HotelId)
    <div class="text-center">
        <input type="submit" value="Book" class="btn btn-success rounded-pill" style="width: 20%;" />
    </div>
    <div class="text-center mt-2">
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
}