@model List<Assignment1.Models.Hotel>
@{
    ViewData["Title"] = "Hotel List";
}

<h2>Hotel List</h2>
<p>
    <a class="btn btn-primary" asp-controller="Hotel" asp-action="Create">Create Hotel</a>
</p>

<form asp-controller="Hotel" asp-action="Index" method="get">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="name" name="name" placeholder="Search by Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="location" name="location" placeholder="Search by Location">
        </div>
        <div class="col">
            <select class="form-control" id="sortOrder" name="sortOrder">
                <option value="">Select Order</option>
                <option value="price_asc">Low to High</option>
                <option value="price_desc">High to Low</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Price</th>
                <th>Amenities</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model)
            {
                <tr>
                    <td>@hotel.Name</td>
                    <td>@hotel.Location</td>
                    <td>@hotel.Price</td>
                    <td>@hotel.Amenities</td>
                    <td>
                        @if (!string.IsNullOrEmpty(hotel.ImageUrl))
                        {
                            <img src="@hotel.ImageUrl" alt="Hotel Image" style="max-height: 100px; max-width: 100px;" />
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@hotel.HotelId" class="btn btn-danger">Details</a>
                        <a asp-action="Edit" asp-route-id="@hotel.HotelId" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@hotel.HotelId" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Hotels Available</p>
}
